  .setcontainerprofile {
    max-width: 100% !important;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background-color: #f9fafc;
    padding-top: 70px;
  }

  .setloginheadset {
    font-size: 15px !important;
    color: #524c4c;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600 !important;
  }

  .settextfield {
    font-family: "Poppins", sans-serif !important;
  }
  .settextfield .MuiInputBase-root {
    font-family: "Poppins", sans-serif !important;
  }
  .settextfield:hover {
    box-shadow: var(--shadows-3);
    border: 0;
  }
  .settextfield:hover
   {
    border: 0;
  }
  .settextfield .MuiInputBase-root,
  .settextfielddate .MuiInputBase-root {
    font-family: "Poppins", sans-serif !important;
  }
  .settextfielddate {
    padding: 0 10px;
    border: 1px solid #0000003b;
  }
  .settextfielddate:hover {
    border: 1px solid;
  }
  .settextfield .MuiTextField-root,
  .settextfielddate .MuiTextField-root {
    width: 100% !important;
  }


  .setinputFirst {
    display: grid;
  }

  .setHeadingpass {
    display: flex;
    font-family: "Poppins", sans-serif !important;
    font-size: 21px !important;
    margin-bottom: 25px !important;
    font-weight: 600 !important;
    line-height: 25px !important;
  }


  .setlabelprofile {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 15px !important;
    line-height: 21px !important;
    margin-top: 7px !important;
    margin-right: 10px !important;
    margin-bottom: 2px !important;
    font-weight: 600 !important;
  }

  .setProductpaperdisplay {
    text-align: left;
    background-color: #f9fafc;
    padding: var(--spacing-3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100% !important;
    border-radius: 10px;
    margin-top: 20px;
  }


  /* setBtnrow */
  .setBtnrow {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px !important;
  }

  .setmodeldisplay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 1px solid #000;
    box-shadow: var(--shadows-8);
    border-radius: 9px !important;
    padding: 10px;

  }

  .setmodeltypo {
      font-family: "Poppins", sans-serif !important;
    }

    .setbtndeldiv {
      display: flex;
      justify-content: flex-end;
      padding-top: 5px;
    }

    .canclebtn {
      font-weight: 600;
      height: 35px;
      text-transform: none;
      padding: 0px 15px;
      background-color: #3c8dbc;
      margin-right: 5px;
      color: white;
    }
    .canclebtn:hover {
      background-color: #3c8dbc !important;
    }

    .setbottomtypography {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
    }

    /* listitemeffect */
    .listitemeffect:hover {
      color: rgba(31, 38, 31, 0.50);
    }
    .listitemeffect:focus {
      background-color: var(--palette-primary-main);
    }


    .setdisplay {
      min-width: 100% !important;
      display: flex;
    }

    @media (max-width: 992px) {
      .setdisplay {
        display: block;
      }
    }

    .setsidebaricon,
    .setmenusetting {
      color: #b8c7ce;
    }

    .setsidebaricon:hover,
    .setmenusetting:hover {
      color: white;
    }

    .customBadgemail {
      background-color: #00a65a;
      color: white;
    }

    .custombadgeicon,
    .custombadgeMobileicon {
      color: white;
    }

    .custombadgeicon:hover,
    .custombadgeMobileicon:hover {
      color: rgba(31, 38, 31, 0.50);
    }

    .customBadgenoty {
      background-color: #f39c12;
      color: white;
    }

    .seticonbtn {
      padding: 12px !important;
    }

    .settypo {
      font-size: 25px !important;
      font-family: "Poppins", sans-serif !important;
    }

    .settypomobile {
      font-size: 20px !important;
      font-family: "Poppins", sans-serif !important;
    }

    .setnotyfication {
      display: flex;
    }

    .mobilerightmenu,
    .hideiconformobile,
    .sidebarmobile,
    .mobiledrawer {
      display: none;
    }

    .listitemeffect:hover {
      color: rgba(31, 38, 31, 0.50);
    }

    .setsidebaricon:hover {
      color: white;
    }
    .setdrawerHeader {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 8px;
      color: #b8c7ce;
    }

    .setsidebarheader {
      display: flex !important;
      padding-left: 10px !important;
      position: fixed !important;
      z-index: 1;
      width: 100% !important;
    }

    .setheadertypo {
      font-family: "Poppins", sans-serif !important;
      padding-left: 16px !important;
      font-size: 22px !important;
      color: white !important;
    }

    .setheadertypomobile {
      font-family: "Poppins", sans-serif !important;
      font-size: 22px !important;
      color: #c2c7d0 !important;
      display: flex !important;
      justify-content: center !important;
    }

    .setheadertypoweb {
      font-family: "Poppins", sans-serif !important;
      font-size: 18px !important;
      color: #c2c7d0 !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      margin-left: 10px !important;
    }

    .setheaderavtar {
      height: 75px !important;
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }

    .setheaderavtarweb {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
      margin-left: 10px;
      background-color: transparent !important;
      border: 1px solid #c2c7d0 !important;
    }

    .setavatrhandle {
      display: flex !important;
      justify-content: center !important;
    }

    .seticonwithname {
      display: flex !important;
      justify-content: flex-start !important;
      width: 100%;
    }

    .setviewforweb {
      display: flex !important;
      justify-content: flex-start !important;
      height: 50px;
    }

    .setviewforwebdivider {
      display: none !important;
    }

    .setsidebaricon {
      color: #c2c7d0;
    }

    .selectedindex {
      padding-top: 65px !important;
    }

    .selectedindex .Mui-selected {
      background-color: rgb(43 123 203 / 45%) !important;
      border-radius: 0 25px 25px 0;
      border-left: 4px solid #00BFA5;
    }

    .selectedsubindex .Mui-selected {
      background-color: #ffffff1a !important;
      border-radius: 0 25px 25px 0;
      border-left: 4px solid #fff;
    }

    .effectlist:hover {
      background-color: rgba(255, 255, 255, 0.1) !important;
      border-radius: 0 25px 25px 0;
    }

    .setbox {
      margin-left: 10px;
      font-size: 18px;
      font-family: "Poppins", sans-serif !important;
    }

    @media (max-width: 600px) {
      .setbox {
        margin-left: 7px !important;
        font-size: 15px !important;
        font-family: "Poppins", sans-serif !important;
      }
    }

    .setmobileicon {
      font-size: 25px !important;
    }


    .setlabelbal {
      font-size: 12px;
      font-family: "Poppins", sans-serif !important;
    }

    .drawerimg {
      width: 45px;
      border-radius: 50%;
    }

    /* =====================================================================================================================page css */



    .setloginbutton {
      background-color: #367fa9 !important;
    }



    .setlistfiltericon {
      display: flex;
      justify-content: flex-start;
    }

    .setavtarback {
      background-color: transparent !important;
      margin-top: 16px !important;
      border: 1px solid #202223;
    }



    .handlep {
      margin-left: 10px;
    }

    .setpageheading_withback {
      max-width: 100% !important;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: #f9fafc;
    }

    .setproductbtn {
      font-weight: 600;
      text-transform: none;
      padding: 0px 15px;
      height: 40px;
      margin-top: 6px;
      background-color: #3c8dbc;
      color: white;
    }



    .textField {
      margin: 0 !important;
      &:hover {
        border: 0;
      }
      & .MuiInputBase-root {
        font-family: "Poppins", sans-serif !important;
      }
    }



    .setmodeldisplay,
    .setmodeldisplayerr {
      position: absolute;
      height: 150px;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      background-color: white !important;
      border-radius: 9px !important;
      padding: 10px;
    }

    .deletebtn,
    .canclebtn {
      font-weight: 600;
      height: 35px;
      text-transform: none;
      padding: 0px 15px;
    }
    .deletebtn {
      background-color: #931d1d;
      color: white;
    }
    .deletebtn:hover {
      background-color: #931d1d !important;
    }
    .canclebtn {
      background-color: #3c8dbc;
      margin-right: 5px;
      color: white;
    }
    .canclebtn:hover {
      background-color: #3c8dbc !important;
    }
    .setbtndeldiv {
      display: flex;
      justify-content: flex-end;
      padding-top: 5px;
    }



    .seticondiv {
      display: flex;
      justify-content: center;
    }

    .tabletdicon {
      font-family: "Poppins", sans-serif !important;
      justify-content: center;
      padding: 8px !important;
      color: #202223 !important;
    }

    .setcarddiv {
      display: flex;
    }

    .setImage {
      height: 180px;
      width: 100%;
    }

    .setGridcard {
      column-spacing: 3 !important;
    }
    @media (max-width: 600px) {
      .setGridcard {
        column-spacing: 1 !important;
      }
    }

    .settypohead {
      font-family: "Poppins", sans-serif !important;
      font-weight: 600 !important;
      font-size: 18px !important;
    }
    @media (max-width: 600px) {
      .settypohead {
        font-size: 16px !important;
      }
    } */

    .setpaginationdiv {
      display: flex;
      justify-content: space-between;
      margin-top: 7px !important;
      align-items: center;
    }

    .setrowperpage {
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .setlabelrow {
      font-family: "Poppins", sans-serif !important;
      font-size: 15px !important;
      line-height: 21px !important;
      margin-right: 10px !important;
      margin-bottom: 2px !important;
      font-weight: 600 !important;
      min-width: 122px !important;
    }

    .setbtn {
      justify-content: left;
      padding: 8px 0px !important;
    }
    @media (max-width: 600px) {
      .setbtn {
        justify-content: space-around !important;
      }
    }

    .seteditbtn {
      width: 20%;
      font-weight: 800;
    }
    .seteditbtn:hover {
      color: #3c8dbc !important;
      background-color: #d6efef;
    }

    .setbtndisplay {
      display: flex;
      width: 100%;
    }